site_name: sklearn-raster
docs_dir: pages/
repo_url: https://github.com/lemma-osu/sklearn-raster
repo_name: lemma-osu/sklearn-raster

nav:
  - Home: index.md
  - Installation: installation.md
  - User Guide: 
    - Getting Started: guide/getting_started.md
    - Compatible Estimators: guide/compatible_estimators.md
    - Raster Formats: guide/raster_formats.md
    - Metadata: guide/metadata.md
    - Performance Tips: guide/performance_tips.md
    - Related Packages: guide/related_packages.md
  - Tutorials:
    - Supervised Classification and Regression: tutorials/supervised_classification_and_regression.ipynb
    - Unsupervised Clustering: tutorials/unsupervised_clustering.ipynb
    - Dimensionality Reduction with Pipelines: tutorials/dimensionality_reduction.ipynb
  - API Reference:
    - FeatureArrayEstimator: api/feature_array_estimator.md
    - Datasets:
      - SWO Ecoplot: api/datasets/swo_ecoplot.md
      - Synthetic Data: api/datasets/synthesize_feature_array.md
  - Contributing: contributing.md

theme: 
  name: material
  features: 
    - search.suggest
    - search.highlight
    - navigation.instant
    - navigation.path
    - content.code.copy
    - content.code.annotate
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-night
        name: Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Light mode

extra_css:
  - css/extra.css

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [../src]
          options:
            # Hide private and dunder members
            filters: ["!^_"]
            show_source: true
            inherited_members: true
            docstring_style: numpy
            show_if_no_docstring: true
            show_signature_annotations: true
            separate_signature: true
            show_root_heading: true
            show_category_heading: true
            merge_init_into_class: true
            signature_crossrefs: true
  - mkdocs-jupyter:
      include_source: true
      ignore:
        - "**/*.md"

markdown_extensions:
  - abbr
  - admonition
  - tables
  - footnotes
  - toc:
      permalink: true
  - pymdownx.snippets:
      auto_append:
        - docs/abbreviations.md
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.superfences


watch:
  - ../src/
  - ../README.md
  - ./abbreviations.md